version: '3.8'

x-variables:
  common: &common
    build:
      context: ../..
      dockerfile: cmd/standalone/Dockerfile
      target: standalone
    networks:
      - krv
    volumes:
      - type: tmpfs
        target: /var/lib/krv
        tmpfs:
          mode: 01777

services:
  krv-0:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-0
      KRV_HOST_TAGS: pantopic/turbokube=member
    ports:
      - 19000:19000
      - 6060:6060

  krv-1:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-1
      KRV_HOST_TAGS: pantopic/turbokube=member
    ports:
      - 19001:19000
      - 6061:6060

  krv-2:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-2
      KRV_HOST_TAGS: pantopic/turbokube=member
    ports:
      - 19002:19000
      - 6062:6060

  krv-3:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-3
      KRV_HOST_TAGS: pantopic/turbokube=nonvoting
    ports:
      - 19003:19000
      - 6063:6060

  krv-4:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-4
      KRV_HOST_TAGS: pantopic/turbokube=nonvoting
    ports:
      - 19004:19000
      - 6064:6060

  krv-5:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-5
      KRV_HOST_TAGS: pantopic/turbokube=nonvoting
    ports:
      - 19005:19000
      - 6065:6060

networks:
  krv: