version: '3.8'

x-variables:
  common: &common
    build: 
      context: ../..
      dockerfile: cmd/standalone/Dockerfile
      target: standalone
    network_mode: "host"

services:
  icarus-0:
    <<: *common
    environment:
      ICARUS_HOST_NAME: icarus-0
      ICARUS_PORT_API: 19000
      ICARUS_PORT_GOSSIP: 17001
      ICARUS_PORT_RAFT: 17002
      ICARUS_PORT_ZONGZI: 17003
    ports:
      - 19000
      - 17001/udp
      - 17001/tcp
      - 17002
      - 17003

  icarus-1:
    <<: *common
    environment:
      ICARUS_HOST_NAME: icarus-1
      ICARUS_PORT_API: 19001
      ICARUS_PORT_GOSSIP: 17101
      ICARUS_PORT_RAFT: 17102
      ICARUS_PORT_ZONGZI: 17103
    ports:
      - 19001
      - 17101/udp
      - 17101/tcp
      - 17102
      - 17103

  icarus-2:
    <<: *common
    environment:
      ICARUS_HOST_NAME: icarus-2
      ICARUS_PORT_API: 19002
      ICARUS_PORT_GOSSIP: 17201
      ICARUS_PORT_RAFT: 17202
      ICARUS_PORT_ZONGZI: 17203
    ports:
      - 19002
      - 17201/udp
      - 17201/tcp
      - 17202
      - 17203
