version: '3.8'

x-variables:
  common: &common
    build:
      context: ../..
      dockerfile: cmd/standalone/Dockerfile
      target: standalone
    networks:
      - krv
    volumes:
      - type: tmpfs
        target: /var/lib/krv
        tmpfs:
          mode: 01777

services:
  krv-0:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-0
    ports:
      - 19000:19000
      - 6060:6060

  krv-1:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-1
    ports:
      - 19001:19000
      - 6061:6060

  krv-2:
    <<: *common
    environment:
      KRV_HOST_NAME: krv-2
    ports:
      - 19002:19000
      - 6062:6060

networks:
  krv: