version: '3.8'

x-variables:
  common: &common
    build:
      context: ../..
      dockerfile: cmd/standalone/Dockerfile
      target: standalone
    networks:
      - kvr
    volumes:
      - type: tmpfs
        target: /var/lib/kvr
        tmpfs:
          mode: 01777

services:
  kvr-0:
    <<: *common
    environment:
      KVR_HOST_NAME: kvr-0
    ports:
      - 19000:19000
      - 6060:6060

  kvr-1:
    <<: *common
    environment:
      KVR_HOST_NAME: kvr-1
    ports:
      - 19001:19000
      - 6061:6060

  kvr-2:
    <<: *common
    environment:
      KVR_HOST_NAME: kvr-2
    ports:
      - 19002:19000
      - 6062:6060

networks:
  kvr: