version: '3.8'

x-variables:
  common: &common
    build: 
      context: ../..
      dockerfile: cmd/standalone/Dockerfile
      target: standalone
    networks:
      - icarus

services:
  icarus-0:
    <<: *common
    environment:
      ICARUS_HOST_NAME: icarus-0
    ports:
      - 19000:19000
      - 6060:6060

  icarus-1:
    <<: *common
    environment:
      ICARUS_HOST_NAME: icarus-1
    ports:
      - 19001:19000
      - 6061:6060

  icarus-2:
    <<: *common
    environment:
      ICARUS_HOST_NAME: icarus-2
    ports:
      - 19002:19000
      - 6062:6060

networks:
  icarus: